.bold{
    font-weight:bold;
}

.grey-bg{
    background: $colour-grey;
    .content{
        display:flex;
        align-items: center;
        justify-content: space-around;
        padding:0 5% !important;
        div{
            width:40%;
        }
        .text-column{
            text-align:right;
            p{
                margin-bottom:5%;
            }
        }
    }
}

.show{
    display:block !important;
}

.info-row{
    padding:3% 5%;
    .row{
        display: flex;
        justify-content: space-between;
        .column{
           text-align: center;
           padding:1% 6%;
           img{
               width:80px;
               height:80px;
           }
        }
    }
}

.playards{
    .left-img{
        width:35%;
    }
    .right-img{
        width:63%;
    }
    .bg-img{
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    .text-box{
        background: $colour-primary;
        text-align:center;
        border-radius:10px;
        width: 30%;
        padding: 5%;
        margin-left: 15%;
        margin-top: -30%;
        margin-bottom:20%;
        position: relative;
        p:nth-child(2){margin-bottom:5%;}
    }
}

